body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(218, 245, 236, 0.719);
}
.container{
    background-color: rgba(247, 211, 235, 0.527);
}
h2{
    text-align: center;
    margin: 10px;
}